@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
* {
	padding: 0;
	margin: 0;
}
#fixed-width-logo {
	width: 12%;
	padding: 1.25em;
	margin: .25em;
	float: left;
}
header {
	display: block;
	width: 100%;
	height: 125px;
	background-color: #F1F2F2;
}
h1 {
	font-family: helvetica, sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	line-height: 1em;
	text-transform: uppercase;
	color: #0086c9;
	padding-top: 1.25em;
	padding-left: 1.25em;
	margin-bottom: .5em;
	margin-right: 1em;
}
h2 {
	display: inline;
	font-size: 2em;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	font-style: italic;
	color: #0086c9;
	margin-top: 60px;
	padding-left: 20px;
	float: left;
}
h3 {
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
	color: #0086c9;
}
nav {
	display: inline;
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	color: #0086c9;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 60px;
	float: right;
}
a {
	margin-right: 3em;
	color: inherit;
	text-decoration: #0086c9;
}
.hero-image {
	position: relative;
}
.hero-text {
	position: absolute;
	text-align: right;
	margin-left: 25em;
	bottom: 175px;
}
.product-bottle {
	position: relative;
	width: 35%;
	bottom: 33em;
	padding: 1em;
	float: left;
}
.headline-italic {
	display: inline;
	padding: .25em;
	font-family: 'Noto Serif', serif;
	text-transform: lowercase;
	float: none;
}
.hero-background {
	background-image: url("../images/OMSZ920.jpg");
	width: 100%;
	height: 500px;
	opacity: 35%;
	background-repeat: no-repeat;
	background-size: cover;
	float: none;
}
#process {
	height: 500px;
}
.section-2-image {
	background-image: url("../images/7188 copy.jpg");
	width: 100%;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	float: none;
}
.process-block {
	position: relative;
	background-color: #F1F2F2;
	opacity: 80%;
	margin: 1em;
	width: 55%;
	height: 23em;
	padding: 30px;
	float: none;
	bottom: 455px;
}
.process-italic {
	display: inline;
	padding: .3em;
	font-family: 'Noto Serif', serif;
	text-transform: lowercase;
}
.section-2-text {
	position: relative;
	background-color: #F1F2F2;
	height: 50px;
	float: none;
	width: 50%;
	bottom: 1em;
}
.process-steps {
	position: relative;
	border: 1px black solid;
	padding-left: 1em;
	margin-left: 2em;
	width: 35%;
	left: 18em;
	bottom: 3em;
}
ul {
	width: 100%;
	list-style: none;
	line-height: 1em;
	font-weight: lighter;
	padding: 1em;
}
li {
	list-style-image: url("../images/drop-200.png");
	margin: .5em;
/*	line-height: 1em;
	vertical-align: middle;*/
}
/*ul {
	padding-left: 1em;
}*/
/*ul li::marker {
	margin-left: .5em;
	padding: 2em;
}*/
#about-us {
	width: 100%;
	background-color: #F1F2F2;
	height: 28em;
}
.image-links {
/*	display: inline;*/
	position: absolute;
	width: 20%;
	display: flex;
	padding: 2em;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.about-block {
	position: relative;
	width: 30%;
	bottom: 250px
	margin-top: 17em;
	margin-left: 50em;
	margin-right: 2em;
	float: right;
}
.about-italic {
	display: inline;
	font-family: 'Noto Serif', serif;
	text-transform: lowercase;
}
.contact {
	width: 75%;
	border: 2px solid #0086c9;
	top: 1em;
	line-height: 1.5em;
	text-align: center;
}
p {
	font-weight: lighter;
	color: #2E2E2E;
	line-height: 25px;
	font-size: 1em;
}
footer {
	width: 100%;
    margin: 1em;
    padding: 1em;
    line-height: 1em;
}
.social-media {
	margin-right: 3em;
	float: right;
}
#fixed-width-facebook {
	width: 20px;
}
#fixed-width-ig {
	width: 20px;
}
#fixed-width-twitter {
	width: 20px;
}
img {
	width: 100%;
}
body {
	font-family: helvetica light, sans-serif;
	color: #222222;
	font-size: 16px;
	line-height: 30px;
	text-align: left;
/*	height: 100%;*/
}
@media only screen and (max-width:915px) {
#fixed-width-logo {
	display: inline;
	width: 15%;
	margin: 1em;
	padding: 1em;
	bottom: 1em;
}
h2 {
	font-size: 1.5em;
}

header {
	height: 8em;
}
nav {
	margin-right: 1em;
}
a {
	margin-right: 1em;
}
h3 {
	padding: 2em;
}
h3+h3 {	
	padding: 0;
}
.product-bottle {
	width: 33%;
}
.process-steps {
	width: 37%;
	margin-top: 1.5em;
	left: 16em;
}
.image-links {
	display: inline;
	width: 15%;
	margin-top: 3em;
	padding-left: 2em;
	border: 2em;
	float: left;
}
.about-block {
    bottom: 12em;
	}
}